<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New-Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">Image :</ion-label>

    <ion-input type="file"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">title :</ion-label>
    <ion-input type="text" placeholder="Enter title" [(ngModel)]="newOffer.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">description :</ion-label>
    <ion-input type="text" placeholder="Enter description" [(ngModel)]="newOffer.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">price :</ion-label>
    <ion-input type="number" placeholder="Enter price" [(ngModel)]="newOffer.price"></ion-input>
  </ion-item>
  <ion-button (click)="onSubmit()"> Add</ion-button>

</ion-content>
